<!DOCTYPE html>
<html>
  <head>
    <title>HotWire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-controller="images">
      <div id="toast" class="bg-gray-200 absolute bottom-2 right-2 w-96 rounded-s hidden">
        <div class=" flex justify-between px-4 py-2">
          <strong>Hey</strong>
          <button type="button" class="btn-close">x</button>
        </div>
      </div>
    </div>

    <h1 class="text-2xl container mx-auto text-center relative">Images</h1>
    <main class="container mx-auto mt-28 px-5 flex flex-wrap ">
      <%= yield %>
    </main>
  </body>
</html>
